<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\internal-nlog.txt">
  <!-- for asp.net core -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <!-- define various log targets -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" name="allfile" fileName="c:\temp\nlog-all-${shortdate}.log"
                 layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception}" />
   
    <target xsi:type="File" name="ownFile-web" fileName="c:\temp\nlog-own-${shortdate}.log"
             layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|  ${message} ${exception}" />

    <target xsi:type="Null" name="blackhole" />
    <!-- write logs to database -->
    <target name="database" xsi:type="Database" connectString="Server=WLCNNB50703020\\SQLEXPRESS; Database=CoreProjectDb; User=sa; pwd=`1q2w3e4r;">
      <commandText>
        INSERT INTO [dbo].[NLog] (
        [MachineName],
        [SiteName],
        [Logged],
        [Level],
        [UserName],
        [Message],
        [Logger],
        [Properties],
        [Host],
        [Controller],
        [Action],
        [Url],
        [CallSite],
        [Exception]
        ) VALUES (
        @machineName,
        @siteName,
        @logged,
        @level,
        @userName,
        @message,
        @logger,
        @properties,
        @host,
        @controller,
        @action,
        @url,
        @callSite,
        @exception
        );
      </commandText>
    <parameter name="@machineName"    layout="${machinename}" />
      <parameter name="@siteName"       layout="${iis-site-name}" />
      <parameter name="@logged"         layout="${date}" />
      <parameter name="@level"          layout="${level}" />
      <parameter name="@username"       layout="${aspnet-user-identity}" />
      <parameter name="@message"        layout="${message}" />
      <parameter name="@logger"         layout="${logger}" />
      <parameter name="@properties"     layout="${all-event-properties:separator=|}" />
      <parameter name="@host"           layout="${aspnet-request-host}" />
      <parameter name="@controller"     layout="${aspnet-MVC-Controller}" />
      <parameter name="@action"         layout="${aspnet-MVC-Action}" />
      <parameter name="@url"            layout="${aspnet-request-url}" />
      <parameter name="@callSite"       layout="${callsite}" />
      <parameter name="@exception"      layout="${exception:tostring}" />
    </target>
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="database" />
    <!--Skip Microsoft logs and so log only own logs-->
    <!--<logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Trace" writeTo="database" />-->
  </rules>
</nlog>