@model CoreProject.EntityFrameworkCore.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Product</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="EAN" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EAN" class="form-control" />
                <span asp-validation-for="EAN" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Sku" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Sku" class="form-control" />
                <span asp-validation-for="Sku" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Brand" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Materials" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Materials" class="form-control" />
                <span asp-validation-for="Materials" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Grid" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Grid" class="form-control" />
                <span asp-validation-for="Grid" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CreationDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreationDate" class="form-control" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="Enable" />
                    <label asp-for="Enable"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
